In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv("Train1.csv")
df.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature_1  1600 non-null   float64
 1   feature_2  1600 non-null   float64
 2   feature_3  1600 non-null   float64
 3   feature_4  1600 non-null   float64
 4   feature_5  1600 non-null   float64
 5   target     1600 non-null   float64
dtypes: float64(6)
memory usage: 75.1 KB

In [56]:

X = pd.DataFrame(np.c_[df['feature_1'], df['feature_2'], df['feature_3'],  df['feature_4'], df['feature_5']], columns = ['feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5'])
Y=pd.DataFrame(np.c_[df['target']])

In [57]:
df.isnull().sum()

feature_1    0
feature_2    0
feature_3    0
feature_4    0
feature_5    0
target       0
dtype: int64

In [58]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [59]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [60]:
df1=pd.read_csv("Test (1).csv")
X_test = pd.DataFrame(np.c_[df['feature_1'], df['feature_2'], df['feature_3'],  df['feature_4'], df['feature_5']], columns = ['feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5'])

print(X_test)

      feature_1  feature_2  feature_3  feature_4  feature_5
0      0.293416  -0.945599  -0.421105   0.406816   0.525662
1     -0.836084  -0.189228  -0.776403  -1.053831   0.597997
2      0.236425   0.132836  -0.147723   0.699854  -0.187364
3      0.175312   0.143194  -0.581111  -0.122107  -1.292168
4     -1.693011   0.542712  -2.798729  -0.686723   1.244077
...         ...        ...        ...        ...        ...
1595  -0.274961  -0.820634  -0.757173  -0.147555  -0.307149
1596  -0.076099   0.255257   0.290054   1.796036   0.340350
1597   1.044177  -0.899206   1.730399  -1.871057   0.442520
1598  -1.269173  -0.005052   1.857669  -1.080365   0.736334
1599  -1.884000  -0.849427  -1.452270   0.488613   1.459576

[1600 rows x 5 columns]

In [61]:
df1.shape
df1

     feature_1  feature_2  feature_3  feature_4  feature_5
0     1.015254   2.076209  -0.266435  -2.418088  -0.980503
1    -0.375021   0.953185   0.626719   0.704406  -0.355489
2    -1.024452   0.962991  -0.407942  -1.861274   0.455201
3    -2.489841   0.544802   0.601219  -0.607021  -1.314286
4    -0.384675  -0.833624   1.358552  -0.547932   0.411925
..         ...        ...        ...        ...        ...
395  -0.436959  -0.575844  -1.620908  -0.222588   1.086013
396  -0.421324  -2.417543   0.876275   0.844565   0.171646
397   0.554728   1.768243  -0.897787  -1.193661   0.340563
398  -1.627172   0.856471  -0.000566   0.629387   0.453382
399   0.139310   0.531597  -0.853107   0.031692   1.714893

[400 rows x 5 columns]

In [62]:
output=lr.predict(X_test)

In [63]:
bias=lr.intercept_
coeff=lr.coef_
print(bias)
print(coeff)

[4.99096674]
[[29.68187118 92.66247759  8.28062089 44.76773522  2.51916121]]

In [64]:
lr.score(X,Y)

0.9660939669975616